[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/

ListenStream=127.0.0.1:9999
Accept=yes

Environment=IP={% if grains['os_family'] == 'RedHat' %}{{ grains['ip4_interfaces']['eth0'][0] }}{% elif grains['os_family'] == 'Arch' %}{{ grains['ipv4'][0] }}{% endif %}

ExecStart=/usr/bin/java -Xms512M -Xmx2048M -jar minecraft_server_{{ pillar['minecraft_version'] }}.jar nogui

ExecReload=/bin/sh -c "./bin/rcon.py 'reload' $IP"

ExecStop=/bin/sh -c "./bin/rcon.py 'say SERVER SHUTTING DOWN. Saving map...' $IP"
ExecStop=/bin/sh -c "./bin/rcon.py 'save-all' $IP"
ExecStop=/bin/sh -c "./bin/rcon.py 'say SAVED' $IP"
ExecStop=/bin/sh -c "./bin/rcon.py 'stop' $IP"
ExecStop=/bin/sh -c "/bin/sleep 30"

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
WantedBy=default.target
