#!/bin/bash

IP={{ ansible_default_ipv4.address }}

if systemctl is-active --quiet minecraft; then
	~minecraft/bin/rcon.py 'say "Starting backup..."' $IP
	~minecraft/bin/rcon.py 'save-off' $IP
fi

pushd ~minecraft

tar -zcf "backup/world.$(date -u +"%Y-%m-%dT%H:%M:%S%Z").tar.gz" world

pushd backup
# Keep only 5 backups
ls -tp | grep -v '/$' | tail -n +6 | xargs -I {} rm -- {}
popd

rclone sync backup GoogleDrive:backup

popd

if systemctl is-active --quiet minecraft; then
	~minecraft/bin/rcon.py 'save-on' $IP
	~minecraft/bin/rcon.py 'save-all' $IP
fi

