[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/

[Socket]
ListenStream=127.0.0.1:9999
Accept=yes

ExecStart=/usr/bin/java -Xms512M -Xmx2048M -jar minecraft_server.jar nogui

ExecReload=/bin/sh -c "/bin/echo "reload" > /dev/tty2"

ExecStop=/bin/sh -c "/bin/echo 'say SERVER SHUTTING DOWN. Saving map...' > /dev/tty2"
ExecStop=/bin/sh -c "/bin/echo 'save-all' > /dev/tty2"
ExecStop=/bin/sh -c "/bin/echo 'say SAVED' > /dev/tty2"
ExecStop=/bin/sh -c "/bin/echo 'stop' > /dev/tty2"
ExecStop=/bin/sh -c "/bin/sleep 30"

Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target
