[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Group=minecraft
WorkingDirectory=/home/minecraft/

ListenStream=127.0.0.1:9999
Accept=yes

Environment=IP={{ ansible_default_ipv4.address }}

ExecStart=/usr/bin/java -Xms512M -Xmx4096M -jar minecraft_server_{{ minecraft_version }}.jar nogui

ExecReload=/bin/sh -c "./bin/rcon.py 'reload' $IP"

ExecStop=/bin/sh -c "./bin/rcon.py 'say SERVER SHUTTING DOWN. Saving map...' $IP"
ExecStop=/bin/sh -c "./bin/rcon.py 'save-all' $IP"
ExecStop=/bin/sh -c "./bin/rcon.py 'say SAVED' $IP"
ExecStop=/bin/sh -c "./bin/rcon.py 'stop' $IP"
ExecStop=/bin/sh -c "/bin/sleep 30"

Restart=always
RestartSec=60s

[Install]
WantedBy=multi-user.target
WantedBy=default.target
